{# Reset Password for one team; used by the portal team page and the Django admin Team and School info pages #}
{% load static cotton %}
{# d-contents: the button joins the surrounding button row; the new password wraps below it #}
<div class="d-contents"
     x-data="teamPasswordReset"
     data-url="{% url 'admin_team_action' team_number %}">
    <c-button variant="warning" @click="resetPassword" ::disabled="loading">
        Reset Password
    </c-button>
    <template x-if="newPassword">
        <c-action_box heading="New Password" variant="warning" class="mt-20 w-full">
            <code class="text-lg" x-text="newPassword"></code>
            <p class="help-text mt-10">Copy it now. If the team has school info, it's also stored there, and packet resends send it.</p>
        </c-action_box>
    </template>
    <c-toast />
</div>
<script src="{% static 'js/team_password.js' %}"></script>
